h1 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 20;
    font-size: 50px;
}

p {
    font-size: 30px;
    font-weight: normal;
    color: black;
    text-align: left;
}

p2 {
    font-size: 20px;
    font-weight: normal;
    color: black;
    text-align: left;
}
.top-border {
    height: 100px;
    width: 100%;
    background: rgb(73, 181, 227);
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

nav a:hover {
    color:white
}

.logo {
    height: 100px;
    z-index: 1;
}

.nav-links {
    position: absolute;
    right: 300px;
}

.sidenav {
    height: 100%;
    width: 250px; 
    position: fixed;
    top: 0;
    left: -250;
    background-color: rgb(36, 128, 233) ; 
    padding-top: 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
}
.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block; 
}

.sidenave.active {
    left: 0; /* Show the sidenav */
}

.main {
   margin-left: 0; /* Same as the width of the sidenav */
   position: relative;
   z-index: 0;
   padding: 20px;
   transition: margin-left 0.3s ease;
}

.main.shift {
    margin-left: 250px;
}
.dropdownbtn {
    background-color: #007fff; 
    color: white; 
    padding: 10px 15px; 
    font-size: 18px; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
    text-align: left;  
}
.dropdownbtncontainer { 
   max-height: 0;
   overflow: hidden;
    transition: max-height 0.3s ease; 
    display: none; 
    background-color: #007fff;   
}
.dropdownbtncontainer.show {
    max-height: 500px; 
    display: block; 
}