body {
  background-color: white;
}
p {
  font-size: 30px;
  color: black;
  text-align: left;
}
h2 {
  text-align: left;
  font-size: 50px;
  color: black;
}

.top-border {
  background-color: #4a6da7;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.top-border a {
  float: left;
  color: blue;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.top-border a:hover {
  color: white;
}

.logo {
  height: 100px;
  width: 100px;
  z-index: 1;
}

.nav-links {
  position: absolute;
  right: 300px;
}
.form1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}
.button2 {
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
