body{
    background-color: white;
}
p{
    font-size:20px; 
    color: black; 
    text-align: left;
}
h2{
    text-align: left; 
    font-size: 50px; 
    color: black;
}

.top-border {
    height: 100px;
    width: 100%;
    background: #4a6da7;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

nav a:hover {
    color:white
}

.logo {
    height: 100px;
    width: 100px;
    z-index: 1;
}

.nav-links {
    position: absolute;
    right: 300px;
}
